<a href="https://colab.research.google.com/github/sam505/Machine_Learning/blob/master/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pathEmployees = r'/content/drive/MyDrive/Data/Employees.xlsx'
pathOrders = r'/content/drive/MyDrive/Data/Orders.xlsx'
employeesData = pd.read_excel(pathEmployees)
ordersData = pd.read_excel(pathOrders)

In [ ]:
employeesData

   EmployeeID   LastName FirstName  ... Country       HomePhone Extension
0           1    Davolio     Nancy  ...     USA  (206) 555-9857      5467
1           2     Fuller    Andrew  ...     USA  (206) 555-9482      3457
2           3  Leverling     Janet  ...     USA  (206) 555-3412      3355
3           4    Peacock  Margaret  ...     USA  (206) 555-8122      5176
4           5   Buchanan    Steven  ...      UK   (71) 555-4848      3453
5           6     Suyama   Michael  ...      UK   (71) 555-7773       428
6           7       King    Robert  ...      UK   (71) 555-5598       465
7           8   Callahan     Laura  ...     USA  (206) 555-1189      2344
8           9  Dodsworth      Anne  ...      UK   (71) 555-4444       452

[9 rows x 13 columns]

In [ ]:
orders

   EmployeeID   LastName FirstName  ... Country       HomePhone Extension
0           1    Davolio     Nancy  ...     USA  (206) 555-9857      5467
1           2     Fuller    Andrew  ...     USA  (206) 555-9482      3457
2           3  Leverling     Janet  ...     USA  (206) 555-3412      3355
3           4    Peacock  Margaret  ...     USA  (206) 555-8122      5176
4           5   Buchanan    Steven  ...      UK   (71) 555-4848      3453
5           6     Suyama   Michael  ...      UK   (71) 555-7773       428
6           7       King    Robert  ...      UK   (71) 555-5598       465
7           8   Callahan     Laura  ...     USA  (206) 555-1189      2344
8           9  Dodsworth      Anne  ...      UK   (71) 555-4444       452

[9 rows x 13 columns]