<a href="https://colab.research.google.com/github/sam505/Machine_Learning/blob/master/UFO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import necessary python packages

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

## Read the csv dataset into the notebook and visualize

In [ ]:
# Reading the csv file using pandas' read_csv function that returns a dataframe object of the data in the csv
df = pd.read_csv("/content/drive/MyDrive/Data/county-data.csv") 

# Visualizes the first five and last five rows of the dataset
df

      subregion          region     pop  income   ipaddr  ufo2010
0     abbeville  south carolina   25101   34670    30330        2
1        acadia       louisiana   61912   37970    38203        6
2      accomack        virginia   33341   41595    41338        2
3           ada           idaho  409061   55304  1035427       59
4         adair            iowa    7481   47623     3762        0
...         ...             ...     ...     ...      ...      ...
3067       yuma         arizona  200022   41441    99991       53
3068       yuma        colorado   10119   44991     7662        1
3069     zapata           texas   14290   26009     3833        0
3070     zavala           texas   11961   23952      545        1
3071    ziebach    south dakota    2869   27917     1277        0

[3072 rows x 6 columns]

## Dataset summary

In [ ]:
# Describe function of the dataframe object of the dataset returns a statistical summary of the dataset columns
df.describe()

                pop         income        ipaddr      ufo2010
count  3.072000e+03    3072.000000  3.072000e+03  3072.000000
mean   1.010085e+05   45074.703451  3.879731e+05     7.943034
std    3.226042e+05   11551.981523  4.669809e+06    28.755570
min    7.100000e+01   19344.000000  0.000000e+00     0.000000
25%    1.121475e+04   37792.750000  5.367000e+03     0.000000
50%    2.604700e+04   43332.500000  1.528900e+04     2.000000
75%    6.792100e+04   50010.000000  6.259400e+04     6.000000
max    9.962789e+06  120096.000000  2.234410e+08   815.000000

## Check for missing values

In [ ]:
# The dataframe object's isna() function returns a False or True in case 
# a value is missing in any of the cells of a column. The sum() function in turn gives the total number of 
# Trues in each column. This values represent the number of all missing values in each column
df.isna().sum()

subregion    0
region       0
pop          0
income       0
ipaddr       0
ufo2010      0
dtype: int64

## Create new column

In [ ]:
df['ufo_status'] = np.where(df['ufo2010'] > 333, 1, 0)
df.head()

   subregion          region     pop  income   ipaddr  ufo2010  ufo_status
0  abbeville  south carolina   25101   34670    30330        2           0
1     acadia       louisiana   61912   37970    38203        6           0
2   accomack        virginia   33341   41595    41338        2           0
3        ada           idaho  409061   55304  1035427       59           0
4      adair            iowa    7481   47623     3762        0           0

In [ ]:
X = np.array([df["pop"], df["income"]])
Y = np.array(df["ufo_status"])
X = X.transpose(1, 0)
print(X.shape, Y.shape)

(3072, 2) (3072,)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [ ]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(2150, 2) (922, 2) (2150,) (922,)

In [ ]:
model = LogisticRegression()
results = model.fit(X_train, Y_train)
results

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
Y_Predict = model.predict(X_test)

In [ ]:
(Y_test == Y_Predict).mean() * 100

100.0

In [ ]:
df.ufo_status.unique()

array([0, 1])

In [ ]:
model2 = KNeighborsClassifier(2)
model2.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
Y_Predict = model2.predict(X_test)
(Y_test == Y_Predict).mean() * 100

99.78308026030369

In [ ]:
new_df = df.reset_index()
new_df = new_df.set_index('region') # 2nd step
new_df.sum(level=['region'])

                       index       pop  ...  ufo2010  ufo_status
region                                  ...
south carolina         56255   4723723  ...      336           0
louisiana             105855   4601893  ...      229           0
virginia              148204   6776755  ...      506           0
idaho                  50114   1595728  ...      161           0
iowa                  143826   3074186  ...      243           0
kentucky              171667   4380415  ...      348           0
missouri              177211   6021988  ...      489           0
oklahoma              114849   3814820  ...      309           0
colorado               91142   5129284  ...      513           0
illinois              162372  12875255  ...     1027           1
indiana               151638   6537334  ...      654           0
mississippi           136472   2984926  ...       88           0
nebraska              133672   1855525  ...      199           0
north dakota           85967    699628  ...       45           0
ohio                  135983  11544225  ...      700           0
pennsylvania           95249  12763536  ...      730           0
washington             63799   6897012  ...     1073           0
wisconsin             117511   5722058  ...      421           0
vermont                20973    626011  ...       42           0
minnesota             144001   5379139  ...      293           0
florida               100984  19317568  ...     1465           0
north carolina        148434   9752073  ...      632           0
california            109622  38041430  ...     3769           1
new york              107372  19570261  ...      760           0
wyoming                37740    576412  ...       93           0
michigan              117478   9883360  ...      716           0
maryland               32278   5884563  ...      297           0
kansas                166774   2885905  ...      269           0
tennessee             148314   6456243  ...      500           0
texas                 382360  26059203  ...     1706           0
maine                  27796   1329192  ...      164           0
arizona                23026   6532974  ...     1250           1
georgia               237300   9919945  ...      548           0
arkansas              113170   2949131  ...      265           0
new jersey             31595   8864590  ...      404           0
south dakota           92771    833354  ...       48           0
alabama                89314   4822023  ...      250           0
oregon                 57172   3899353  ...      717           0
west virginia          95824   1855413  ...      172           0
massachusetts          19307   6646144  ...      441           0
utah                   51333   2855287  ...      178           0
montana                92646   1005141  ...      181           0
new hampshire          13485   1320718  ...      157           0
new mexico             55262   2085538  ...      241           0
rhode island            8936   1050292  ...       74           0
nevada                 25621   2758931  ...      343           0
connecticut            15361   3590347  ...      280           0
delaware                6134    917092  ...       74           0
district of columbia    2887    632323  ...        1           0

[49 rows x 6 columns]

In [ ]:
model3 = RidgeClassifier()
model3.fit(X_train, Y_train)

Y_Predict = model3.predict(X_test)
(Y_test == Y_Predict).mean() * 100

99.78308026030369